body {
  background-color: transparent;
}

.henk {
  color:transparent;
}

.move-from-top {
  top:250px;
  position: relative;
  .margin-fix {
    margin-top: -35px;
  }
  .inner-cars {
    background: #92d3c7;
    border-radius: 5px;
    padding: 15px;
    color: black;
    img {
      width: 100%;
    }
  }
  .car-name {
    font-size: 25px;
    color: white;
    font-weight:bold;
  }
  .price-wrap {
    .reservate {
      background-color: #007974;
      display: block;
      margin: 0;
      padding: 12px 24px;
      border: none;
      border-radius: 10px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      cursor: pointer;
      &:hover {
        background-color: #00795e;
      }
    }
    .price {
      font-weight: bold;
      font-size: 20px;
      color: black;
    }

  }

}