body {
  background-color: transparent; }

.henk {
  color: transparent; }

.move-from-top {
  top: 250px;
  position: relative; }
  .move-from-top .margin-fix {
    margin-top: -35px; }
  .move-from-top .inner-cars {
    background: #92d3c7;
    border-radius: 5px;
    padding: 15px;
    color: black; }
    .move-from-top .inner-cars img {
      width: 100%; }
  .move-from-top .car-name {
    font-size: 25px;
    color: white;
    font-weight: bold; }
  .move-from-top .price-wrap .reservate {
    background-color: #007974;
    display: block;
    margin: 0;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer; }
    .move-from-top .price-wrap .reservate:hover {
      background-color: #00795e; }

.price {
  font-weight: bold;
  font-size: 20px;
  color: black; }

#login-submit {
  padding: 0; }

.rent-car-body {
  background: #66cc99; }

#rent-car-form {
  background-color: #f6f6f6;
  display: flex;
  top: 30vh !important;
  height: 100%;
  padding: 10%; }

.reserveer-btn {
  margin-top: 20px;
  background-color: #339999 !important;
  border: none !important;
  height: 40px; }

.reserveer-btn:hover {
  background-color: #326f6f !important;
  border: none !important; }

#rent-car-form .row {
  width: 100%; }

#rent-car-form .date {
  display: inline-block; }


#rent-car-form #booking-from {
    margin-bottom: 10px; }

#registratieModal .modal-header {
    border: none !important; }

#registratieModal .modal-footer {
    border: none !important; }
